// :root {
// //   --background-color: black;
// //   --second-color: #ffff8c;
// }
$background-color: white;
// $background-color: black;
$primary-color : #67CF9A;
$secondary-color : #030C14;
$main-font: "DIN Pro", "DIN Web", sans-serif;
@mixin easeOut {
    transition: all 0.3s ease-out;
}
@mixin easeIn {
    transition: all 0.3s ease-in;
}
@function text-color($color) {
    @if(lightness($color) > 40) {
        @return #000;
    } @else {
        @return #fff;
    }
}
@function link-color($color) {
    @if(lightness($color) > 40) {
        @return $secondary-color;
    } @else {
        @return $primary-color;
    }
}
@function link-color-hover($color) {
    @if(lightness($color) > 40) {
        @return $primary-color;
    } @else {
        @return white;
    }
}