@keyframes drop1 {
    from { 
        top: 0vh;
    }
    to   { 
        top: 13vh;
    }
}
@keyframes drop2 {
    from { 
        top: -5vh;
        opacity: 0;
    }
    to   { 
        top: 5vh;
        opacity: 1;
    }
}
@keyframes drop3 {
    from { 
        top: -5vh;
        opacity: 0;
    }
    to   { 
        top: 5vh;
        opacity: 1;
    }
}
@keyframes fadein {
    from { 
        opacity: 0;
    }
    to   { 
        opacity: 1;
    }
}
@keyframes fadeinpic {
    from { 
        opacity: 0;
        top: 20vh;
    }
    to   { 
        opacity: 1;
        top: -5vh;
    }
}
