$background-color: white;
$primary-color : #67CF9A;
$secondary-color : #030c14;
:root { 

    //variables depending on dark theme
    --background-color: white;
    --text-color: black;
    //#424242
    --link-color: #030C14;
    --link-color-hover: #67CF9A;
    // #logo {
    //     // background: url(/assets/robinhood-logo.png);
    // }
}
[data-theme="dark"] {
    --background-color: #030c14;
    --text-color: #fff;
    --link-color: #67CF9A;
    --link-color-hover: white; 
    #logo {
        // background: url(/assets/robinhood-logo-green.png);
        color: white;
        &:hover {
            color: #67CF9A;
        }
    }
}
$main-font: "DIN Pro", "DIN Web", sans-serif;
@mixin easeOut {
    transition: all 0.3s ease-out;
}
@mixin easeIn {
    transition: all 0.3s ease-in;
}
