/* ==================================================================

*   Media Queries

TOC : 

1. screenwidth greater than 1024px (Medium Screen/Large Tablets)
2. screenwidth less than 1024px (Medium Screen/Large Tablets)
3. screenwidth less than 960px (Mobile wide/Smaller Tablets)
4. screenwidth less than 768px (Mobile wide/Smaller Tablets)
5. screenwidth greater than 480px (Medium Screen Mobile)


/* ================================================================== */

@media only screen and (max-width: 1365px) {

  .watchlist {
    width: 25vw;
  }
  .stock-show-right-content {
    margin-left: 0vw;
  }
}

@media only screen and (max-width: 1024px) {
  .main-content {
    // padding-left: 13.9vw;
    padding-left: 5vw;
    padding-top: 80px;
  }
  .stock-show-wrapper { 
    display: block;
    padding-left: 5vw;
    padding-top: 80px;

  }
  .user-page-header .user-nav-menu-wrapper {
    // left: 66vw;
    left: 59vw;
    width: 34vw;
  }
  .watchlist {
    top: 80px;
    left: 59vw;
    width: 34vw;
    height: 83vh;
  }
  .portfolio {
    margin-bottom: 17vw;
  }
  .stock-show-left-content {
    width: 90vw !important ;
  }
  .stock-show-wrapper .stock-show-left-content .stock-info { 
    width: 100% ;
  }
  .stock-show-left-content .stock-show-chart-wrapper .line-chart-stock-show-page {
    width: 90vw !important;
    height: 20vh !important;
  }

  .stock-show-wrapper .stock-show-left-content .stock-show-chart-wrapper .chart-header {
    padding: 2vh 0vh;
  }
  .stock-show-wrapper .stock-show-left-content .stock-info .stock-info-description-wrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 767px) {
  .hamburger-btn{
    display: block;
  }
  .Stock-list .hamburger-btn{
    display: block;
    
  }

  .portfolio {
    width: 90vw;
    height: 20vh;
    margin-bottom: 140px;
  }
  .searchbar {
    margin-left: 2vw;
    width: 68vw;
  }
  .user-page-header .user-nav-menu-wrapper .user-nav-menu  {
    display: none;
  }
  .stock-show-right-content {
    display: none;
  }
  .watchlist {
    z-index: 15;
    width: 100vw;
    height: 100vh;
    left: 100vw;
    top: 0px;
    padding-bottom: 100px;
    background-color: var(--background-color);
    // visibility: hidden;
    .stock-index-item .mini-chart {
      width: 200px;
      height: 100px;
    }
    @include easeOut;
    &.open {
        @include easeOut;
        left: 0vw;
        // visibility: visible;
    }

  }
  .news-index {
    width: 90vw;
    h2 {
      padding: 15px 0px;
    }
    .article-img {
      margin-left: 30px;
    }
  }

}
@media only screen and (max-width: 479px) {
  .news-index {
    // .article-info h5 {
    //   width: 100px;
    // }
    
    .article-img {
      max-width: 140px !important;
    }
  }
  .watchlist .stock-index-item .mini-chart {
    width: 120px;
    height: 60px;
  }
}