/* ==================================================================

*   Media Queries

TOC : 

1. screenwidth greater than 1024px (Medium Screen/Large Tablets)
2. screenwidth less than 1024px (Medium Screen/Large Tablets)
3. screenwidth less than 960px (Mobile wide/Smaller Tablets)
4. screenwidth less than 768px (Mobile wide/Smaller Tablets)
5. screenwidth greater than 480px (Medium Screen Mobile)


/* ================================================================== */

@media only screen and (max-width: 1365px) {

  .watchlist {
    width: 25vw;
  }
  .stock-show-right-content {
    margin-left: 0vw;
  }
  .front-page-wrapper .front-page-pic-container .front-page-pic {
    margin-left: -150px;
  }
}

@media only screen and (max-width: 1024px) {
  .main-content {
    // padding-left: 13.9vw;
    padding-left: 5vw;
    padding-top: 80px;
  }
  .stock-show-wrapper { 
    display: block;
    padding-left: 5vw;
    padding-top: 80px;

  }
  .user-page-header .user-nav-menu-wrapper {
    // left: 66vw;
    left: 59vw;
    width: 34vw;
  }
  .watchlist {
    top: 80px;
    left: 59vw;
    width: 34vw;
    height: 83vh;
  }
  .portfolio {
    margin-bottom: 17vw;
  }
  .stock-show-left-content {
    width: 90vw !important ;
  }
  .stock-show-wrapper .stock-show-left-content .stock-info { 
    width: 100% ;
  }
  .stock-show-left-content .stock-show-chart-wrapper .line-chart-stock-show-page {
    width: 90vw !important;
    height: 20vh !important;
    overflow: hidden !important;
  }

  .stock-show-wrapper .stock-show-left-content .stock-show-chart-wrapper .chart-header {
    padding: 0vh 0vh;
    padding-bottom: 15px;
  }
  .stock-show-wrapper .stock-show-left-content .stock-info .stock-info-description-wrapper {
    width: 90%;
  }

  .mobile-stock-show {
    display: flex;
  }
  .mobile-stock-show .watch-btn {
    padding: 20px 0px;
    margin: 15px 0px;
    margin-right: 15px;
    // color: var(--text-color);
    // background: var(--chart-color);
    &:hover {
      opacity: 1;
    }
  }
  .stock-show-right-content {
    position: fixed;
    z-index: 15;
    width: 100vw;
    height: 100vh;
    left: 100vw;
    top: 0px;
    padding-bottom: 0;
    background-color: var(--background-color);
    // visibility: hidden;
    @include easeOut;
    &.open {
        @include easeOut;
        left: 0vw;
        // visibility: visible;
    }
    .order-sidebar {
     margin-bottom: 0px; 
     width: 100%; 
     height: 100%;
    }
    .order-form-footer {
      text-align: left;
    }
    .watch-btn {
      display: none;
    }
  }

  .front-page-wrapper .front-page-pic-container .front-page-pic { 
    display: none;
  }
  .splash-menu-wrapper {
    display: none;
  }
  .splash-nav .hamburger-btn {
    display: block;
  }
  .background-img {
    background: none;
    .splash-nav {
      display: block;
    }
    .login-form {
      // position: relative;
      left: 9vw;
      top: 22.5vh;
    }
  }
  .right-side-content {
    display: none;
  }
  .SignUpForm .signup-body .signup-form {
    width: 80vw;
  }
  .SignUpForm .signup-body .signup-form .input-field {
    width: 80vw;
  }
  .SignUpForm .signup-body .signup-form .first-name {
    width: 38vw;
    margin-right: 4vw;
  }
  .SignUpForm .signup-body .signup-form .last-name {
    width: 38vw;
  }
  .front-page-wrapper .front-page-intro .cover {
    width: 100vw !important;

  }
  .sign-up-submit-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .SignUpForm .signup-body .signup-form .sign-up-submit-wrapper #signup-form-button {
    margin-right: 4vw;
  }
  #form-button-demo{
    display: block;
  }
  .sign-up-submit-wrapper .form-button 
  {
    width: 38vw;
    h4 {
      font-size: 1.5em;
      margin-top: -4px;
    }
  }

}

@media only screen and (max-width: 767px) {
  .hamburger-btn{
    display: block;
  }
  .Stock-list .hamburger-btn{
    display: block;
    
  }

  .portfolio {
    width: 90vw;
    height: 20vh;
    margin-bottom: 140px;
  }
  .searchbar {
    margin-left: 2vw;
    width: 68vw;
  }
  .user-page-header .user-nav-menu-wrapper .user-nav-menu  {
    display: none;
  }
  .splash-nav .splash-menu-wrapper  {
    display: none;
  }
  .watchlist {
    z-index: 15;
    width: 100vw;
    height: 100vh;
    left: 100vw;
    top: 0px;
    padding-bottom: 100px;
    background-color: var(--background-color);
    // visibility: hidden;
    .stock-index-item .mini-chart {
      width: 200px;
      height: 100px;
    }
    @include easeOut;
    &.open {
        @include easeOut;
        left: 0vw;
        // visibility: visible;
    }

  }
  .news-index {
    width: 90vw;
    h2 {
      padding: 15px 0px;
    }
    .article-img {
      margin-left: 30px;
    }
  }

}
@media only screen and (max-width: 479px) {
  .news-index {
    // .article-info h5 {
    //   width: 100px;
    // }
    
    .article-img {
      max-width: 140px !important;
    }
  }
  .watchlist .stock-index-item .mini-chart {
    width: 120px;
    height: 60px;
  }
  .stock-show-wrapper .stock-show-left-content .stock-info .stock-stats-wrapper .stock-stats .stat {
    margin-right: 30px;
  }

  .front-page-wrapper {
    .front-page-intro {
      h1 {
      font-size: 2.5em;
      }
      h2 {
      font-size: 1.3em;

      }
    }
  }
  .background-img .login-form .input-field {
    width: 80vw;
  }
  .SignUpForm .signup-body .signup-form {
    h1 {
      font-size: 25px;
      white-space: nowrap;

    }
    h3 {
      font-size: 20px;
      
    }
  }
}