.doge-404 {
    // background: red;
    display: flex;
    flex-flow: row nowrap;
    width: 80vw;
    // background: red;
    margin: 0 auto;
    padding-top: 20vh;
    h1 {
        font-size: 48px;
        font-weight: 700;
    }
    h2 {
        font-size: 50px;
        font-weight: 200;
        letter-spacing: 1px;
    }
    .doge {
        height: 100vh;
    }
    .error-body {
        letter-spacing: 1px;
        margin-top: 8vh;
        margin-bottom: 8vh;
        font-size: 20px;
        line-height: 2;
    }
    .error-home-btn {
        width: 300px;
        height: 60px;
        border-radius: 5px;
        background: $primary-color;
        text-align: center;
        color: black;
        margin-top: 12px;
        font-weight: bold;
        h4 {
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1px;
            text-decoration: none;
            padding-top: 20px;
        }
        &:hover {
            opacity: 0.9;
            cursor: pointer;
        }
    }
}

