.portfolio {
    //7 / 3 width to height, prob need to make this aspect as a responsive chart through recharts
    // width: 700px;
    // height: 300px;
    width: 50vw;
    height: 20vw;
    // background-color: $primary-color;
    margin-bottom: 20vh;
    .chart-ranges {
        display: flex;
        flex-direction: row;
        .range-btn {
            margin: 6px;
            padding: 6px;
            font-weight: bold;
            &.active {
                color: var(--chart-color);
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    transform: scaleX(0.75);
                    transform-origin: center;
                    background: var(--chart-color);
                }
            }
            &:hover {
                color: var(--chart-color);
                cursor: pointer;
            }
            
        }
    }
    .chart-header {
        padding-bottom: 2vh;
        margin-bottom: 1vh;
        h1 {
            font-size: 2em;
        }
        h2 {
            font-size: 2.5em;
            letter-spacing: 1px;
            // .odometer {
            //     display: inline;
            // }
        }
    }

}
