.portfolio {
    //7 / 3 width to height, prob need to make this aspect as a responsive chart through recharts
    // width: 700px;
    // height: 300px;
    width: 50vw;
    height: 25vw;
    // background-color: $primary-color;
    margin-bottom: 10vh;
}
