.portfolio {
    width: 50vw;
    height: 20vw;
    margin-bottom: 20vh;
    // background-color: $primary-color;
    .tooltip {
        color: #808080;
        width: 30%;
    }
    .timestamp {
        color: #808080;
        font-weight: bold;
    }
    .chart-wrapper {
        width: 50vw;
        height: 20vw;
    }
    .chart-ranges {
        display: flex;
        flex-direction: row;
        .range-btn {
            margin: 6px;
            padding: 6px;
            font-weight: bold;
            &.active {
                color: var(--chart-color);
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    transform: scaleX(0.75);
                    transform-origin: center;
                    background: var(--chart-color);
                }
            }
            &:hover {
                color: var(--chart-color);
                cursor: pointer;
            }
            
        }
    }
    .chart-header {
        padding-bottom: 2vh;
        margin-bottom: 1vh;
        h1 {
            font-size: 2em;
        }
        h2 {
            font-size: 2.5em;
            letter-spacing: 1px;
            // .odometer {
            //     display: inline;
            // }
        }
    }

}
