

.searchbar {
    width: 40vw;
    position: relative;
    left: 13.8vw;
    // border: 1px solid var(--search-bar-color);
    background: var(--background-color);
    border-radius: 3px;
    color: var(--text-color);
    .colorResult {
        color: var(--chart-color) !important;
    }
    &.focus {
        box-shadow: 0 0 4px 1px rgba(0,0,0,0.01), 0 3px 24px rgba(48,51,51,0.09);
    }
    .searchbar-svg {
        background-color: #8C8C8E;
        -webkit-mask-image: image-url('magglass.svg');
        mask-image: image-url('magglass.svg');
        position: absolute;
        margin: 10px;
        margin-left: 20px;
        height: 20px;
        width: 20px;
        &.focus {
            background-color: var(--text-color);
        }

    }
    .search-results {
        font-weight: bold;
        .stock-heading {
            padding: 20px;
            // font-weight: bold;
            color: #8C8C8E;
        }
        .search-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 20px;
            z-index: 20;
            .search-item-ticker {
                width: 100px;
                word-wrap: none;
            }
            &:hover {
                cursor: pointer;
                background: grey;
            }
        }
    }
    .search-bar-input {
        width: 100%;
        font-size: 14px;
        padding: 12px 0px;
        padding-left: 48px;
        background: transparent;
        color: var(--text-color);
        border: 1px solid var(--search-bar-color);

        &.focus {
            &::placeholder{
                color: var(--text-color)
            }
        }
        &.focus {
            border: 1px solid transparent;
            outline-color: transparent;
            outline-style: none;
        }
    }
}