// WIP: Store the user preference for future visits
// https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8

* {
    box-sizing: border-box;
    // padding: 0;
    // margin: 0;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    font-size: 14px;
    font-family: $main-font;
    position: relative;
    background: var(--background-color);
    color: var(--text-color);
    .hoverlinks {
        text-decoration: none;
        color: var(--link-color);
        &:hover {
            color: var(--link-color-hover);
            @include easeOut();
        }
    }
}

a {
    text-decoration: none;
}
.sign-up {
    width: 105px;
    height: 50px;
    border-radius: 36px;
    background: $primary-color;
    text-align: center;
    color: white;
    margin-top: 12px;
    @include easeOut();
    h4 {
        text-decoration: none;
        font: 17px;
        font-weight: bold;
        margin-top: 17px;
    }
    &:hover {
        cursor: pointer;
        text-decoration: underline;
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }
}

.front-page-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    overflow: hidden;
    margin-left: 9vw;
    margin-right: 9vw;
    .front-page-pic-container {
        .front-page-pic {
            position: relative;
            top: 20vh;
            height: 700px;
            width: 800px;
            margin-top: 10vh;
            background: image-url('splashimage.png');
            opacity: 0;
            animation: fadeinpic 2s 1;
            animation-delay: 3s;
            animation-fill-mode: forwards;  
        }
    }
}

.front-page__intro {
    color: var(--text-color);
    h1 {
        font-size: 3em;
        font-weight: bold;
    }
    h2 {
        font-size: 1.5em;
    }
    &__cover {
        position: relative;
        top: 15vh;
        background: var(--background-color);
        width: 20vw;
        height: 10vh;
        z-index: 5;
    }
    &__text1 {
        z-index: 3;
        letter-spacing: 1px;
        position: relative;
        animation: drop1 1s 1;
        background: var(--background-color);
        padding-top: 50px;
        animation-fill-mode: forwards;  
    }
    &__text2 {
        word-wrap: none;
        letter-spacing: 1px;
        left: -2px;
        padding-top: 10vh;
        background: var(--background-color);
        z-index: 2;
        opacity: 0;
        position: relative;
        animation: drop2 1s 1;
        animation-delay: 1s;
        animation-fill-mode: forwards;  
    }
    &__text3 {
        opacity: 0;
        z-index: 1;
        position: relative;
        h2 {
            line-height: 26px;
        }
        animation: drop3 1s 1;
        animation-delay: 2s;
        animation-fill-mode: forwards;  
    }
    .sign-up {
        position: relative;
        top: 10vh;
        opacity: 0;
        animation: fadein 1s 1;
        animation-delay: 3s;
        animation-fill-mode: forwards;  
        h4 {
            padding: 16px 0px;
        }

    }
}