// WIP: Store the user preference for future visits
// https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8

* {
    box-sizing: border-box;
    // padding: 0;
    // margin: 0;
}

body {
    font-family: $main-font;
    position: relative;
    background: var(--background-color);
    color: var(--text-color);
    .hoverlinks {
        text-decoration: none;
        color: var(--link-color);
        &:hover {
        color: var(--link-color-hover);
            @include easeOut();
        }
    }
}

.sign-up {
    width: 105px;
    height: 50px;
    border-radius: 36px;
    background: $primary-color;
    text-align: center;
    color: white;
    margin-top: 12px;
    @include easeOut();
    h4 {
        font: 17px;
        font-weight: bold;
        margin-top: 17px;
    }
    &:hover {
        text-decoration: underline;
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }
}

.front-page {
    .front-page-pic {
        position: absolute;
        top: 30vh;
        right: 1vw;
        height: 700px;
        width: 900px;
        
        background: image-url('splashimage.png');

        opacity: 0;
        animation: fadeinpic 2s 1;
        animation-delay: 3s;
        animation-fill-mode: forwards;  
    }
    .front-page-intro {
        position: absolute;
        top: 35vh;
        left: 8.5vw;
        width: 35vw;
        color: var(--text-color);
        h1 {
            // font-size: 46px;
            font-size: 4em;
            font-weight: bold;
        }
        h2 {
            // font-size: 18px;
            font-size: 1.5em;
        }
        .cover {
            position: absolute;
            top: -200px;
            background: var(--background-color);
            width: 400px;
            height: 140px;
            z-index: 5;
        }
        .front-page-text1 {
            z-index: 3;
            letter-spacing: 1px;
            position: relative;
            left: -3px;
            animation: drop1 1s 1;
            background: var(--background-color);
            padding-top: 50px;
            animation-fill-mode: forwards;  
        }
        .front-page-text2 {
            letter-spacing: 1px;
            // margin: 0;
            left: -4px;
            background: var(--background-color);
            z-index: 2;
            padding-top: 6px;
            // padding-bottom: 20px;
            opacity: 0;
            // padding: 0px;
            position: absolute;
            // top: -50px;
            animation: drop2 1s 1;
            animation-delay: 1s;
            animation-fill-mode: forwards;  
        }
        .front-page-text3 {
            opacity: 0;
            z-index: 1;
            position: absolute;
            top: -10px;
            h2 {
                line-height: 26px;
            }
            animation: drop3 1s 1;
            animation-delay: 2s;
            animation-fill-mode: forwards;  
        }
        .sign-up {
            position: relative;
            top: 80px;
            opacity: 0;
            animation: fadein 1s 1;
            animation-delay: 3s;
            animation-fill-mode: forwards;  
            h4 {
                padding: 16px 0px;
            }

        }
    }
}
