.stock-show-wrapper {
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    align-items: center;
    padding-top: 20vh;
}
// .user-page-header {
//     position: fixed;
// }