.stock-show-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 0px auto;
    padding-top: 20vh;
    width: 1000px;
    .stock-show-left-content {
        .stock-show-chart-wrapper {
            .chart-ranges {
                display: flex;
                flex-direction: row;
                .range-btn {
                    margin: 6px;
                    padding: 6px;
                    font-weight: bold;
                    &.active {
                        color: var(--chart-color);
                        position: relative;
                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 2px;
                            transform: scaleX(0.65);
                            transform-origin: center;
                            background: var(--chart-color);
                        }
                    }
                    &:hover {
                        color: var(--chart-color);
                        cursor: pointer;
                    }
                    
                }
            }
            .chart-header {
                padding: 2vh;
                h1 {
                    font-size: 2.5em;
                }
                h2 {
                    font-size: 3.5em;
                    letter-spacing: 1px;
                    // .odometer {
                    //     display: inline;
                    // }
                }
            }
            .stock-show-chart{
                position: relative;
                &::after {
                    content:"...................................................................................................";
                    letter-spacing: 3px;
                    position: absolute;
                    left: 0;
                    bottom: 50px;
                    width: 100%;
                    border:none;
                    color: #A7A7A7;
                    background-color:#fff;
                    // background: black;
                    height:1px;
                }
            }
        }
        .stock-info {
            text-align: left;
            .stock-info-heading {
                padding-bottom: 2vh;
                border-bottom: 1px solid #F4F4F5;
                h2 {
                    font-size: 2em;
                }
            }
        }
    }
    .order-sidebar {
        width: 400px;
        height: 300px;
        border: 1px solid black;
    
    }
}
// .user-page-header {
//     position: fixed;
// }
