.watchlist {
    position: fixed;
    top: 120px;
    left: 66vw;
    width: 20vw;
    height: 83vh;
    background-color: transparent;
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.01), 0 3px 24px rgba(48,51,51,0.09);
    // overflow: auto;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    &::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }
    .stock-index-header {
        padding: 2vh;
        font-size: 1.2em;
        font-weight: bold;
        border-bottom: 1px solid var(--border-color);
        &.watch-list {
            border-top: 1px solid var(--border-color);
        }
    }
    
    .stock-index-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2vh;
        color: var(--text-color);
        .stock-index-item-left-wrapper {
            display: flex;
            flex-direction: column;
            width: 75px;
            .stock-index-item-ticker {
                font-weight: bold;
            }
            .stock-index-item-shares {
                margin-top: 5px;
                color: grey;
            }
        }
        .mini-chart {
            &:hover {
                cursor: pointer;
            }
        }
        .stock-index-item-price {
            width: 75px;
            font-size: 1.2em;

        }
        &:hover {
            background: #EEEEEE;
        }
    }   
}