.home {
    height: 200vh;
}

// .home-menu {
//     position: absolute;
//     top: 0vh;
//     right: 10vw; 
//     .home-logout {
//         // background: black;
//         position: relative;
//     }
// }

.portfolio {
    position: relative;
    top: 20vh;
    left: 10vw;
    background-color: green;
    width: 50vw;
    height: 40vh;
}
.newsfeed {
    position: relative;
    top: 30vh;
    left: 10vw;
    background-color: orange;
    width: 50vw;
    height: 100vh;
}

// .user-page-header {
//     display: flex;
//     flex-direction: row;
// }