.user-page-header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 70px;
    padding: 12px 0px;
    background: var(--background-color);

    #logo {
        position: absolute;
        margin-left: 3.3vw;
        padding-top: 10px;
        .logo-image {
            position: relative;
            top: -14px;
            width: 36px;
            height: 40px;
            background-color: var(--text-color);
            -webkit-mask-image: image-url('logo.svg');
            mask-image: image-url('logo.svg');
            @include easeOut();
        }
        &:hover {
            @include easeOut();
            cursor: pointer;
            .logo-image {
                background-color: var(--chart-color);
            }
        }
    }
    // .searchbar {
    //     // look at searchbar.scss
    // }
    .user-nav-menu-wrapper {
        position: absolute;
        // height: 5vh;
        left: 66vw;
        top: 0px;
        width: 25vw;
        .user-nav-menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items:flex-start;
            align-content:flex-start;

            margin-top: 26px;
            z-index: 3;

            .theme {
                white-space: nowrap;
                font-weight: bold;
                font-size: 16px;
                color: var(--text-color);
            
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                    @include easeOut();
                    color: $primary-color;
                }
            }
            .home-btn {
                font-weight: bold;
                font-size: 16px;
                color: var(--text-color);

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                    @include easeOut();
                    color: $primary-color;
                }
            }
            .user-logout-btn {
                font-weight: bold;
                font-size: 16px;
                color: var(--text-color);

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                    @include easeOut();
                    color: $primary-color;
                }
            }

        }
    }
}

