.home {
    height: 200vh;
}

// .home-menu {
//     position: absolute;
//     top: 0vh;
//     right: 10vw; 
//     .home-logout {
//         // background: black;
//         position: relative;
//     }
// }

.main-content {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;

    padding-top: 120px;
    padding-left: 13.9vw;
    h1{
        font-size: 2em;
    }
}
