.user-page-header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 70px;
    padding: 12px 0px;
    background: var(--background-color);
    // background: green;

    #logo {
        position: absolute;
        margin-left: 3.3vw;
        padding-top: 10px;
        .logo-image {
            position: relative;
            top: -14px;
            width: 36px;
            height: 40px;
            background-color: var(--text-color);
            -webkit-mask-image: image-url('logo.svg');
            mask-image: image-url('logo.svg');
            @include easeOut();
        }
        &:hover {
            @include easeOut();
            cursor: pointer;
            color: $primary-color;
            .logo-image {
                background-color: $primary-color;
            }
        }
    }

    .searchbar {
        width: 1024px;
        position: relative;
        left: 13.8vw;
        .searchbar-svg {
            background-color: #8C8C8E;
            -webkit-mask-image: image-url('magglass.svg');
            mask-image: image-url('magglass.svg');
            position: absolute;
            margin: 10px;
            margin-left: 20px;
            height: 20px;
            width: 20px;

        }
        .search-bar-input {
            font-size: 14px;
            width: 40vw;
            padding: 12px 0px;
            padding-left: 48px;
            background: transparent;
            color: var(--text-color);
            border: 1px solid var(--search-bar-color);
            border-radius: 3px;
            &::-webkit-input-placeholder { 
                color: #8C8C8E;
            }
            &:focus {
                border: 1px solid transparent;
                outline-color: transparent;
                outline-style: none;
                box-shadow: 0 0 4px 1px rgba(0,0,0,0.01), 0 3px 24px rgba(48,51,51,0.09);
            }
            &:hover {
                border: 1px solid transparent;
                box-shadow: 0 0 4px 1px rgba(0,0,0,0.01), 0 3px 24px rgba(48,51,51,0.09);
            }

        }
    }
    .user-nav-menu-wrapper {
        position: absolute;
        // height: 5vh;
        left: 66vw;
        top: 0px;
        width: 25vw;
        .user-nav-menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items:flex-start;
            align-content:flex-start;

            margin-top: 26px;
            z-index: 3;

            .theme {
                white-space: nowrap;
                font-weight: bold;
                font-size: 16px;
                color: var(--text-color);
            
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                    @include easeOut();
                    color: $primary-color;
                }
            }
            .home-btn {
                font-weight: bold;
                font-size: 16px;
                color: var(--text-color);

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                    @include easeOut();
                    color: $primary-color;
                }
            }
            .user-logout-btn {
                font-weight: bold;
                font-size: 16px;
                color: var(--text-color);

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                    @include easeOut();
                    color: $primary-color;
                }
            }

        }
    }
}

